.outerBox {
  position: absolute;
  left: 50%;
  bottom: 2rem;
  padding: 10px;
  border-radius: 20px;
  color: #fff;
  background: hsla(0deg, 0, 20%, 0.2);
  transform: translateX(-50%);
  pointer-events: none;
  opacity: 1;
  transition: 1s;

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes label {
  0%,
  60%,
  90% {
    opacity: 0.9;
  }
  15%,
  40% {
    opacity: 0;
  }
}

.label {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  margin: auto;
  font-size: 0.75em;
  white-space: nowrap;
  transform: translateY(-50%);
  animation: label 4s infinite;
}

.wheelIndicator {
  width: 140px;
  height: 80px;
  border: 2px solid;
  border-radius: 10px;

  &.flipped {
    transform: scaleX(-1);
  }
}

@keyframes finger-move {
  0%,
  10% {
    transform: translateX(0%) scale(1.4);
    opacity: 0;
  }
  14% {
    transform: translateX(20%);
    opacity: 0.9;
  }
  16% {
    transform: translateX(20%);
    opacity: 0.8;
  }
  50%,
  100% {
    transform: translateX(-400%) scale(.9);
    opacity: 0;
  }
}

.fingers {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.finger {
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 18px;
  opacity: 0.9;
  background: #fff;
  animation: finger-move 4s infinite;

  &:nth-of-type(2) {
    margin-left: 25px;
  }
}
