.page {
  height: 300vh;
}

.container {
  position: relative;
  overflow: hidden;
  height: 50vh;
  background: whitesmoke;

  @media (prefers-color-scheme: dark) {
    background: #111;
  }
}

.box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 80px;
  height: 80px;
  background: hotpink;
  border-radius: 25%;

  &.momentum {
    opacity: 0.5;
    width: 100px;
    height: 100px;
  }
}
