{
  "plugins": [
    [
      "prismjs",
      {
        "languages": ["javascript", "css", "markup", "typescript", "tsx", "jsx"],
        "plugins": ["line-numbers"]
      }
    ]
  ],
  "presets": [["babel-preset-gatsby"]]
}
