.options {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2em 0;

  > * {
    margin-right: 1em;
  }
}

.container {
  position: relative;
  height: 50vh;
  background: whitesmoke;

  @media (prefers-color-scheme: dark) {
    background: #111;
  }
}

.box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 80px;
  height: 80px;
  background: #FF4949;
  border-radius: 25%;
  will-change: transform;

  &.momentum {
    opacity: 0.5;
    width: 100px;
    height: 100px;
  }
}
