@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 90%;

  @screen sm {
    font-size: 100%;
  }

  @screen xl {
    font-size: 120%;
  }
}

body {
  @apply bg-gray-200 text-gray-800;

  @screen dark {
    @apply bg-black text-gray-100;
  }
}

@screen dark {
  button,
  input,
  optgroup,
  select,
  textarea {
    background: inherit;
  }
}
